@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('../fonts/ProductSans-Medium.woff') format('woff');
  }
/*

 font-family: "Montserrat", sans-serif;


  font-family: "Open Sans", sans-serif;


  font-family: "Poppins", sans-serif;


  font-family: 'Product Sans Medium Regular';

  font-family: "Volkhov", serif;

*/

/*variants*/
:root{
  --container:1170px;
  --fz:16px;
  --lh:26px;
  --tc:#5E6282;
}


/*layout*/
.container{
  width:var(--container);
  margin: 0 auto;
}
/*typography*/
body{
  /* font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px; */
  font:500 var(--fz)/var(--lh) "Poppins", sans-serif;
  color:var(--tc);
}

/*link button*/


/*fonts*/

.section_sub_tt{
text-align: center;
/* text-transform: uppercase; */
font-size: 18px;
line-height: 27px;
font-weight: 600;
color: #5e6282;
margin-bottom: 10px;
}

.section_tt{
 text-align: center;
 text-decoration: none;
 font-family: "Volkhov", serif;
 font-size: 50px;
 line-height: 65px;
 color: #14183E;

}
