@import url('reset.css');
@import url('common.css');



header{
  background:
  no-repeat url(../images/header_ellipse.svg),
  no-repeat url(../images/header_bg.svg) right top;
  padding-top:47px;
  
}

header nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_menu{
  display: flex;
  align-items: center;
}

.top_menu > ul{
  display: flex;
  
}

.top_menu .main_menu{
  gap:60px;
  margin-right: 50px;
}

.top_menu .login_menu{
  gap:30px;
  margin-right: 30px;
}

.top_menu .login_menu a{
 display: block;
 padding: 0 21px;
 height: 40px;
 line-height: 38px;
 box-sizing: border-box;
 border: 1px solid transparent;
 border-radius: 5px;
 transition: 0.3s;
}

.top_menu .login_menu a:hover{
  border-color:#212832;

}

.dropdown ul{
  display:none;
}

nav h1 a{
  display: block;
  width:116px;
  height: 35px;
  background: url(../images/logo.svg) no-repeat center/100%;
  text-indent: -999999em;
  overflow: hidden;
  
}


/*hero */

.hero{
  display: flex;
  justify-content: space-between;
}

.hero .content{
  margin-top: 130px;
}

.hero .content h3{
  font-size: 20px;
  line-height: 30px;
  color: #DF6951;
  font-weight: 700;
  text-transform: uppercase;
}

.hero .content h2{
  font-family: "Volkhov", serif;
  font-size: 84px;
  line-height: 89px;
  font-weight: bold;
  color: #181E4B;
}